.flutter-plugins-dependencies
pubspec.lock
Generated*
flutter_export_environment.sh
ios/Flutter
build
android/local.properties
.dart_tool
.codex
windows/flutter/generated_**
linux/flutter/ephemeral/.plugin_symlinks
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
windows/flutter/ephemeral
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
app_localizations**
*.zip
.codegraph